@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  /* Customize the scrollbar width */
  width: 7px;
  background-color: #0d1117;
}

::-webkit-scrollbar-track {
  /* Customize the scrollbar track */
  
}

::-webkit-scrollbar-thumb {
  /* Customize the scrollbar thumb */
  background: #282c34;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover{
  background: #5d6169;
}


* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */

  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--body-font-size, 14px);
  line-height: 1.5;
  /* background-color: #0d1117; */
  --yellow-theme: #ffa500;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
